.env
volumes/db

site/node_modules
site/public/hot
site/public/storage
site/storage/*.key
site/vendor
site/.env
site/.env.backup
site/.phpunit.result.cache
site/docker-compose.override.yml
site/Homestead.json
site/Homestead.yaml
site/npm-debug.log
site/yarn-error.log

.idea
.vscode
